*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 300px;
    height: auto;
    margin-top: 5px;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-list{
    font-size: 23px;
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 60px;
    text-align: center;
    transform: translateY(-3px);
    

    
}
ul li a{
   text-decoration: none;
   color: yellow;
   
}
ul li:hover{
    color: red;
    transform: translateY(-5px);

}
.ilan-1-detay{
    display: flex;
}


.divKutu1{
    width: 40%;
    height: 100%;
    border: 0px solid black;
    margin: 10px 20px;
}

.divKutu2{
    width: 30%;
    height: 100%;
    border: 0px solid black;
    margin: 10px 20px;
    display: flex;
}
table, tr,td{
    border: 0px solid black;
    padding:20px;
    text-decoration: underline;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.buyukFoto{
    width: 765px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    
}

.buyukFoto img{
    width: 765px;
    height: 400px;
}

.kucukFotolar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 3px;
    margin-top: 20px;
    gap: 10px;
}
.kucukFoto1{
    width: 250px;
    height: 150px;
    border:0px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    
}

.kucukFoto1 img{
    width: 250px;
    height: 150px;
}

.kucukFoto2{
    width: 250px;
    height: 150px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.kucukFoto2 img{
    width: 250px;
    height: 150px;
}
.kucukFoto3{
    width: 250px;
    height: 150px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.kucukFoto3 img{
    width: 250px;
    height: 150px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    margin-top: 160px
    
}

.footerNav{
    width: 300px;
    height: 300px;
    border: 0px solid white;
    padding: 100px 10px;

}
.footerNav a{
    color: white;
    text-transform: uppercase;
    padding-left: 100px ;
    margin-top: 10px;
}
.sosyalmedya{
    width: 350px;
    height: 300px;
    border:0px solid white;
    padding: 100px 10px;
    display: flex;
    gap: 10px;

}

.sosyalmedya p{
    position: absolute;
    color: white;
    padding-top: 70px;
}